﻿/* add your styling here */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 430px) {
    
    .navbarleft {
        width: 100%;
        font-size: 12px;
    }

    .navbarright {
        display: none;
    }

    .header .edts-container {
        top: 80px;
    }

    .span1{
        font-size: 40px;
    }

    .span2{
        visibility: hidden;
    }

    .project-container1, .project-container2 {
        flex-direction: column;
        row-gap: 10px;
    }

    .project-container1 .desc, .project-container2 .desc {
        font-size: 14px;
        width: 40%;
        height: 30px;
    }

    .about-container {
        flex-direction: column;
        row-gap: 10px;
    }

    .about {
        height: auto;
    }

    .about p button{
        border: 0px solid black;
        height: 40px;
        font-size: 14px;
    }

    #contacts input {
        height: 40px;
        margin-bottom: 20px;
    }

    #contacts ::placeholder {
        font-size: 14px;
    }

    #contacts .send {
        width: 160px;
        height: 50px;
        font-size: 14px;
    }

    .website footer {
        height: 50px;
    }
    
    .website footer p {
        font-size: 14px;
    }

}

.navbar{
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    border-bottom: 0.5px solid gainsboro;
    padding: 20px;
    position: fixed;
    width: 100%;
    font-size: 14px;
    box-shadow: 2px;
    box-sizing: border-box;
    word-spacing: 8px;
    letter-spacing: 4px;
    z-index: 3;
}

.navbarleft{
    justify-content: start;
}

.navbarright{
    justify-content: end;
    text-align: right;
}

.navbarright > a{
    padding: 8px;
}

#project:hover, #about:hover, #contact:hover{
    background-color: #ccc;
}

.header{
    display: flex;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px;    
    letter-spacing: 2px;
    box-sizing: border-box;
    align-items: center;
}

.img1 {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.edts-container {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 35%;
}

.span1 {
    background-color: black;
    color: white;
    padding: 8px;
    opacity: 80%;
}

.span2{
    color: white;
}

h1 {
    font-weight: lighter;
    color: white;
    font-size: 36px;
}

.container{
    margin: 40px;
}

.project-container1{
    display: flex;
    max-width: 1564px;
    box-sizing: border-box;
    height: auto;
    column-gap: 12px;
}

.project-container2{
    display: flex;
    max-width: 1564px;
    box-sizing: border-box;
    height: auto;
    column-gap: 12px;
    margin-bottom: 40px;
}

.desc {
    position: absolute;
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

.image {
    width: 100%;
    position: relative;
    float: left;
}

.img {
    width: 100%;
    height: auto;
    margin-right: 4px;
    margin-bottom: 8px;
}

.about-container{
    display: flex;
    max-width: 1564px;
    box-sizing: border-box;
    height: auto;
    column-gap: 12px;
}

.about {
    width: 100%;
    border: 0px solid black;
    float: left;
}

.about img{
    width: 100%;
    height: auto;
}

.about button{
    width: 100%;
    border: 0px solid black;
    height: 40px;
}

.about button:hover {
    background-color: #ccc;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    border: 1px solid black;
}

input::placeholder {
    padding: 8px;
}

.send {
    background-color: #000;
    color: white;
    width: 160px;
    height: 40px;
    margin-bottom: 40px;
}

.send:hover {
    background-color: #ccc;
    color: #000;
    border: 0px;
}

.map img{
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-top: 1px solid lightgray;
    padding: 8px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

tr th {
    background-color: white;
}

.borderleft {
    border-left: 1px solid lightgray;
}

footer {
    background-color: black;
    text-align: center;
    height: 60px;
}

footer p {
    color: white;
    padding-top: 20px;
    font-size: 14px;
}

#projects, #abouts, #contacts {
    font-size: 25px;
}

#abouts p, #contacts p {
    font-size: 14px;
}


